@import url(style.css);

.sobre {
    padding: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 0;
}

.sobre__conteudo {
    display: flex;
    align-items: center;
    gap: 0 80px;
}

.sobre__conteudo__historia {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}

.sobre__conteudo__historia__citacao {
    font-style: var(--fonte-citacao);
    font-size: var(--fonte-citacao-tamanho);
}

.sobre__conteudo__historia__titulo {
    font-size: var(--fonte-tamanho-titulo);
    font-family: var(--fonte-titulo);
}

.sobre__conteudo__historia__texto {
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-texto);
}

.sobre__conteudo__foto {
    width: 30%;
    border-radius: 5px;
}

.sobre__hobbies {
    display: flex;
    flex-direction: column;
}

.sobre__hobbies__titulo {
    font-family: var(--fonte-titulo);
    font-size: var(--fonte-tamanho-titulo);
}

.sobre__hobbies__lista {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px 0;
}

.sobre__hobbies__hobby {
    font-family: var(--fonte-texto);
    font-size: var(--fonte-tamanho-texto);
    border-style: solid;
    border-width: 1px;
    border-color: var(--cor-quaternaria);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sobre__curiosidades__titulo {
    font-family: var(--fonte-titulo);
    font-size: var(--fonte-tamanho-titulo);
    margin-bottom: 30px;
}

.sobre__curiosidades__detalhe {
    font-family: var(--fonte-texto);
    font-size: var(--fonte-tamanho-texto);
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #696969;
    padding: 15px;
    border-radius: 5px;
    width: 80vw;
}

.sobre__curiosidades__detalhe__resposta {
    margin-top: 10px;
    padding-left: 30px;
}

.sobre__curiosidades__detalhe__resposta__destaque {
    color: var(--cor-quaternaria);
}

.sobre__galeria__titulo {
    font-family: var(--fonte-titulo);
    font-size: var(--fonte-tamanho-subtitulo);
}

.sobre__galeria__lista {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sobre__galeria__lista__linha {
    margin: 30px 0;
    filter: grayscale(100%);
    transition: 500ms;
    cursor: pointer;
}

.sobre__galeria__lista__linha:hover {
    filter: initial;
}

.sobre__galeria__lista__linha__foto {
    height: 70vh;
    width: 27vw;
}

@media (max-width: 960px) {
    .sobre {
        flex-direction: column;
        padding: 7% 3%;        
    }

    .sobre__conteudo {
        margin-bottom: 50px;
        flex-direction: column;
    }

    .sobre__conteudo__historia__titulo {
        font-size: 26px;
    }

    .sobre__conteudo__historia__texto {
        font-size: 20px;
    }

    .sobre__conteudo__foto {
        margin-top: 50px;
        width: 50%;
    }

    .sobre__galeria__lista__linha__foto {
        width: 40vw;
        height: 40vh;
    }
}

@media (max-width: 480px) {
    .sobre {
        flex-direction: column;
        padding: 11% 5%;
    }

    .sobre__conteudo {
        margin-bottom: 50px;
        flex-direction: column;
    }

    .sobre__conteudo__historia__titulo {
        font-size: 30px;
    }

    .sobre__conteudo__historia__texto {
        font-size: 20px
    }

    .sobre__galeria__lista {
        display: flex;
        flex-direction: column;
    }

    .sobre__galeria__lista__linha__foto {
        width: 80vw;
    }

    .sobre__conteudo__foto {
        width: 70%;
        margin-top: 50px;
    }
}