@import url(style.css);

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 24px;
    font-weight: 400;
}