@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url(variables.css);

.span-destaque {
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
    border-radius: 5px;
    padding: 10px;
}

.span-destaque:hover {
    color: var(--cor-secundaria);
    border-color: var(--cor-quaternaria);
    box-shadow: 2px 2px var(--cor-quaternaria);
}

.apresentacao {
    padding: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-titulo);
    line-height: 55px;
}

.destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-texto);
}

.apresentacao__conteudo__texto .destaque:hover {
    color: var(--cor-quaternaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    /* background-color: var(--cor-terciaria); */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--fonte-texto);
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-quintanaria);
    border-color: var(--cor-quaternaria);
}

.foto {
    width: 32%;
    border-radius: 5px;
}