:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-quaternaria: #FFCC33;
    --cor-quintanaria: #272727;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
}